{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for element in books %}
            <div class="book col-md-4">
                <h2><a href="/books/{{element.pub_date|date:'Y-m-d'}}">{{element.name}}</a></h2>
                <p>Автор: {{element.author}}</p>
                <p>Дата публикации: {{element.pub_date}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}